@charset "UTF-8";
@font-face {
  font-family: SFProText;
  font-display: swap;
  src: url(../fonts/SFProText-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: SFProText;
  font-display: swap;
  src: url(../fonts/SFProText-Semibold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: SFProText;
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: SFProText;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-weight: 500;
  background-color: #0b2522
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
.page {
  display: flex;
  flex-direction: column
}
.page__container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column
}
[class*=__container] {
  max-width: 24.375rem;
  margin: 0 auto
}
.button {
  display: inline-flex;
  border-radius: 16px;
  padding: .75rem;
  min-height: 2.75rem;
  justify-content: center;
  align-items: center;
  gap: .25rem;
  width: 100%;
  transition: all .3s
}
.button--cancel {
  padding: 0;
  border-radius: 0;
  color: #ee2403
}
.button--green {
  background: #0fae92
}
.payment-title {
  font-weight: 600;
  font-size: 1.25rem
}
.payment-subtitle {
  color: #99a8a5
}
div[hidden] {
  display: none
}
button[hidden] {
  display: none
}
.copy-block {
  cursor: pointer;
  position: relative
}
.copy-block::after {
  content: "Скопировано";
  position: absolute;
  top: 50%;
  left: 40px;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  font-size: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  color: #01362e;
  background-color: #fff;
  transition: all .3s;
  border-radius: 8px;
  padding: .4375rem 1.25rem
}
.copy-block.active::after {
  opacity: 1;
  visibility: visible
}
.payment-info {
  padding: 1.25rem 1rem;
  background: #01100d;
  border-radius: 20px;
  margin-bottom: 1.25rem;
  width: 24.375rem;
  position: relative
}
.payment-info__cancel-button {
  width: 1.625rem;
  height: 1.625rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 16px;
  background-color: #430a0a;
  top: 20px
}
.payment-info__cancel-button img {
  width: 1.25rem;
  height: 1.25rem
}
.payment-info__subtitle {
  margin-bottom: .5rem
}
.payment-info__title {
  margin-bottom: 1.25rem
}
.payment-info__money {
  margin-bottom: 1rem;
  display: inline-flex;
  align-items: center
}
.payment-info__money.copy-block::after {
  font-size: .75rem
}
.payment-info__money.copy-block.active::after {
  opacity: 1;
  visibility: visible
}
.payment-info__money-number {
  font-size: 1.25rem;
  color: #35b391
}
.payment-info__money-icon {
  margin-left: .5rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #0c352d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px
}
.payment-info__money-icon img {
  width: 1rem;
  height: 1rem
}
.payment-info__text-block {
  display: flex;
  align-items: center;
  font-size: .75rem;
  border-radius: 8px;
  background-color: #0c352d;
  padding: .5rem;
  margin-bottom: 1rem
}
.payment-info__text-block img {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: .5rem
}
.payment-info__text-block p {
  display: inline-block;
  margin: 0 .25rem;
  color: #35b391
}
.payment-info__item {
  padding: .625rem 0;
  position: relative;
  display: flex;
  align-items: center
}
.payment-info__icon {
  border-radius: 8px;
  background: #0c352d;
  margin-right: .5rem;
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center
}
.payment-info-body__item--bank .payment-info__icon img {
  width: 1rem;
  height: 1rem
}
.payment-info__icon span {
  font-size: .75rem;
  color: #99a8a5
}
.payment-info__icon img {
  width: 1.25rem;
  height: 1.25rem
}
.payment-info__info {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column
}
.payment-info__info label {
  font-size: .75rem;
  color: #99a8a5;
  margin-bottom: .3125rem
}
.payment-info__info span {
  font-weight: 600;
  white-space: nowrap
}
.payment-info__copy {
  display: flex;
  align-items: center;
  gap: .25rem;
  height: 1.5rem;
  background-color: #09372d;
  border-radius: 8px;
  font-size: .75rem;
  padding: .5rem;
  color: #35b391
}
.payment-info__copy img {
  width: 1.125rem;
  height: 1.125rem
}
.payment-top {
  border-radius: 0 0 20px 20px;
  margin-bottom: .25rem
}
.payment-top__container {
  padding: 1rem 0
}
.payment-top__body {
  display: flex;
  align-items: center;
  justify-content: space-between
}
.payment-top__logo img {
  width: 6.25rem
}
.payment-top__lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap
}
.payment-top__lang a {
  display: flex;
  width: 50px;
  flex: 0 0 50px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #00100d;
  font-size: 12px;
  justify-content: center;
  align-items: center
}
.payment-top__lang a.selected {
  background-color: #00100d
}
.payment-top__lang a img {
  width: 12px;
  height: 8px;
  margin-right: 4px;
  display: inline-flex
}
.payment-bottom__body {
  padding: 1.25rem 1rem;
  background: #01100d;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center
}
.payment-bottom__timer {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 1.25rem
}
.payment-bottom__timer-title {
  margin-bottom: .5rem
}
.payment-bottom__timer-time {
  color: #99a8a5
}
.payment-bottom__button {
  flex: 0 1 50%
}
.payment-find {
  flex: 1 1 auto;
  background: #01100d;
  border-radius: 20px 20px 0 0;
  position: relative;
  padding: 3.75rem 1rem 1rem;
  display: flex;
  flex-direction: column
}
.payment-find__goback {
  position: absolute;
  left: 1.1875rem;
  top: 1.78125rem;
  width: 1.125rem;
  height: .9375rem
}
.payment-find__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto
}
.payment-find__image {
  margin-bottom: 24px
}
.payment-find__image img {
  width: 9.375rem;
  height: 9.375rem
}
.payment-find__texts {
  flex: 1 1 auto;
  text-align: center
}
.payment-find__title {
  margin-bottom: .5rem
}
.payment-find__subtitle {
  margin-bottom: 1.5rem
}
.payment-find__buttons {
  width: 100%
}
.payment-find__button:first-child {
  margin-bottom: 1rem;
  background: #0fae92
}
body::after {
  content: "";
  background-color: rgba(0,0,0,.5);
  position: fixed;
  width: 100%;
  height: 100%;
  cursor: default;
  top: 0;
  left: 0;
  display: inline-block;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: all .4s ease .2s;
  z-index: 2
}
body.popup-visible::after {
  opacity: 1;
  visibility: visible
}
.payment-attention {
  transition: -webkit-transform .4s ease .2s;
  transition: transform .4s ease .2s;
  transition: transform .4s ease .2s,-webkit-transform .4s ease .2s;
  background: #01100d;
  padding: 1.5rem 1rem;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 50%;
  max-width: 24.375rem;
  width: 100%;
  -webkit-transform: translate(-50%,100%);
  transform: translate(-50%,100%)
}
.popup-visible .payment-attention {
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0)
}
.payment-attention__image {
  margin-bottom: 1.5rem
}
.payment-attention__image img {
  width: 9.375rem;
  height: 9.375rem
}
.payment-attention__title {
  text-align: center;
  margin-bottom: .5rem
}
.payment-attention__text {
  text-align: center;
  margin-bottom: 2.6875rem
}
.payment-success {
  padding: 1.25rem 1rem;
  background: #01100d;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24.375rem
}
.payment-success__icon {
  margin-bottom: 1rem;
  width: 3.125rem;
  height: 3.125rem;
  background-color: #153220;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center
}
.payment-success__icon img {
  width: 1.5rem;
  height: 1.5rem
}
.payment-success__title {
  margin-bottom: .75rem
}
.payment-success__text {
  margin-bottom: 1.25rem
}
.payment-success__money {
  margin-bottom: 1.5rem;
  color: #6cb87d;
  font-size: 2rem
}
@media (max-width:25.375em) {
  .payment-top__container {
    padding: 1rem
  }
}
@media (max-width:24.375em) {
  [class*=__container] {
    margin: 0
  }
  .payment-info {
    width: auto
  }
  .payment-bottom {
    background: #01100d
  }
  .payment-success {
    width: auto
  }
}
@media (any-hover:hover) {
  .button--cancel:hover {
    opacity: .8
  }
  .button--green:hover {
    background: #0a836d
  }
  .payment-find__goback:hover {
    opacity: .9
  }
  .payment-find__button:first-child:hover {
    background: #0a836d
  }
}